* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

*::before, *::after {
  box-sizing: border-box;
}

:root {

}

html {
  height: 100%;
  font-family: "Lato", sans-serif;

}

body {
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.925);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


a {
  color: white;
  text-decoration: none;
}

fieldset {
  border: none;
  display: grid;
  grid-template-columns: repeat(2 1fr);

}

form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  /* height: 500px; */
  padding: 20px;
  width: 320px;
}

input {
  margin: 5px 0px;
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  color: #eee;
  outline: none;
  padding: 4px 20px 5px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  
}

input[type="checkbox"] {
margin: 10px 0px;
width: 40px;
transform: scale(2);

}
#readit {
  display: inline-block
}

#create-book-btn {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.863);
  border-radius: 5px;
  border: 1px solid rgb(22, 41, 212);
  padding: 10px;
  color: rgb(53, 192, 247);
  font-weight: bold;
  
  
}

.button-container {
  display: flex;
  justify-content: center;
}

/* .library-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
} */

/* .card-container {
  
  padding: 10px;
  
  border-radius: 5px;
  background-color: hsla(0, 0%, 0%, 0.493);
  box-shadow:  2px 2px 5px 1px rgb(75, 75, 75);
  display: grid;
  grid-template-columns: .5fr 1fr;
  align-items: center;
  gap: 10px;
  min-width: auto;
  max-width: 390px;
}

.card-container  h2 {
  text-align: right;
  color: rgb(116, 116, 116);
}

.card-container  h3 {
  text-align-last: left;
  color: red;
}


.card-container h3:nth-child(7) {
  
  grid-column: 1/3;
  color: green;
} */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 1;
  
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  grid-column: 2/2;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;

}

.delete-btn {
  /* border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: rgb(163, 33, 33); */

}

td {
text-align: center;
}